{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block sidebar %}
    <h4>Welcome to Symfony 4.3</h4>
{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 class="row">Hello {{ controller_name }}! ✅</h1>
</div>
{% endblock %}

