{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <a class="btn btn-outline-success my-2 my-sm-0" href="/product/new">Add New</a>

    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Sr</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
        {% set i = 1 %}
        {% for product in products %}
            {% set i = i + 1 %}
            <tr>
                <td>{{i}}</td>
                <td>{{ product.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>ser</th>
            <th>Name</th>
        </tr>
        </tfoot>
    </table>

</div>

{% endblock %}

