{% extends 'base.html.twig' %}

{% block title %}UserDetails{% endblock %}

{% block body %}
    <h1>UserDetails</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>

        </tbody>
    </table>

{% endblock %}
