<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    </head>
    <body>
    <div class="container">
        {% block header %} {% include 'header.html.twig' %}{% endblock %}
        <div class="row">
            <div class="col-3">{% block sidebar %}{% endblock %}</div>
            <div class="col-9">{% block body %}{% endblock %}</div>
        </div>
        {% block footer %} {% include 'footer.html.twig' %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
