{% extends 'base.html.twig' %}

{% block title %}UserDetails{% endblock %}

{% block body %}
    <h1>UserDetails</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_detail.id }}</td>
            </tr>
            <tr>
                <th>User_is</th>
                <td>{{ user_detail.userIs }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ user_detail.address }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ user_detail.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_details_index') }}">back to list</a>

    <a href="{{ path('user_details_edit', {'id': user_detail.id}) }}">edit</a>

    {{ include('user_details/_delete_form.html.twig') }}
{% endblock %}
